
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_BosLayout.cshtml";
}

@*<br />
    <h1 style="color:red">Biz Kimiz?</h1>
    <br />



    <div class="container">
        <div class="et_pb_testimonial_content">
            <h2><strong style="color:darkblue">Hakkımızda</strong></h2>
            <p class="yazi">Günümüz dünyasında artık sadece bilgiye sahip olmak yetmiyor. Hangi koşullarda rekabet ederseniz edin, bilginiz amaçlarınız doğrultusunda hızlı ve verimli şekilde kullanmanız sizi bir adım öne geçiriyor. Workgroup Yazılım bilgi çağında bilgiyi yönetmeniz için size teknolojik çözümler üretiyor. ”Müşteri için değil Müşteriyle birlikte ” felsefesiyle, şirketinizin rekabet gücünün artmasında sizinle bir çözüm ortağı gibi çalışıyor.</p>
            <p class="yazi">Hayat hızlanıyor, koşullar hızla değişiyor, saha sürekli büyüyor. Peki şirketiniz bu hızlanmaya, büyümeye ve değişime ayak uydurabiliyor mu? Workgroup Yazılım giderek mobilleşen ve hızlanan yaşama uygun teknolojik çözümleri, hızla hayata geçiriyor. Şirketinizin cirosunu arttırmak ,masraflardan tasarruf ettirmek, işlerinize sürat kazandırmak için size özel lojistik çözümleri tasarlamaya devam ediyor.</p>
        </div>

        <div class="et_pb_testimonial_content">
            <h2><strong style="color:darkblue">Vizyon</strong></h2>
            <p class="yazi">Yüksek kalitede ve değer katan çözümlerle, bir hizmet sağlayıcının çok ötesinde, stratejik iş ortağı olarak birlikte çalıştığı iş ortaklarının fark oluşturmasını sağlayan, Türkiye’de ve dünyada başarılı, örnek alınan, ileri görüşlü ve yenilikçi bir şirket olmaktır.</p>
        </div>





        <div class="et_pb_testimonial_content">
            <h2><strong style="color:darkblue">Misyon</strong></h2>
            <p class="yazi">Sürekli gelişen ve yüksek performanslı bir ekip olarak, rekabetçi ve hızla değişen sektörde, ileri teknolojiye ve gelişmeye açık; müşteri odaklı çözümler geliştirmek adına sistemli ve ekip ruhuyla çalışmaktır.</p>
        </div>


    </div>

    <style>
         .yazi{
             font-size:20px;
             font-weight:lighter;
         }

    </style>*@


<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="~/css/styles.css" rel="stylesheet" />

</head>
<body style="background-color: ButtonHighlight" >
    <div class="form-group"style="background-color:beige">
        <br />
        <h1 style="font-weight:bold;color:brown;text-align:center">BİZ KİMİZ?</h1>

        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                @*<span class="section-heading-upper">BİZ KİMİZ?</span>*@
                                <span class="section-heading-lower">Hakkımızda</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/img/biz.jpg" />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded">
                            <p class="mb-0">
                                Günümüz dünyasında artık sadece bilgiye sahip olmak yetmiyor. Hangi koşullarda rekabet ederseniz edin, bilginiz amaçlarınız doğrultusunda hızlı ve verimli şekilde kullanmanız sizi bir adım öne geçiriyor. Workgroup Yazılım bilgi çağında bilgiyi yönetmeniz için size teknolojik çözümler üretiyor. ”Müşteri için değil Müşteriyle birlikte ” felsefesiyle, şirketinizin rekabet gücünün artmasında sizinle bir çözüm ortağı gibi çalışıyor.
                                Hayat hızlanıyor, koşullar hızla değişiyor, saha sürekli büyüyor. Peki şirketiniz bu hızlanmaya, büyümeye ve değişime ayak uydurabiliyor mu? Workgroup Yazılım giderek mobilleşen ve hızlanan yaşama uygun teknolojik çözümleri, hızla hayata geçiriyor. Şirketinizin cirosunu arttırmak ,masraflardan tasarruf ettirmek, işlerinize sürat kazandırmak için size özel lojistik çözümleri tasarlamaya devam ediyor.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <!--<span class="section-heading-upper">Delicious Treats, Good Eats</span>-->
                                <span class="section-heading-lower">VİZYON</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/img/vizyon.jpg" style="width:80%;height:50%" />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Yüksek kalitede ve değer katan çözümlerle, bir hizmet sağlayıcının çok ötesinde, stratejik iş ortağı olarak birlikte çalıştığı iş ortaklarının fark oluşturmasını sağlayan, Türkiye’de ve dünyada başarılı, örnek alınan, ileri görüşlü ve yenilikçi bir şirket olmaktır..</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <!--<span class="section-heading-upper">From Around the World</span>-->
                                <span class="section-heading-lower">MİSYON</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/img/misyon.jpg" />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Sürekli gelişen ve yüksek performanslı bir ekip olarak, rekabetçi ve hızla değişen sektörde, ileri teknolojiye ve gelişmeye açık; müşteri odaklı çözümler geliştirmek adına sistemli ve ekip ruhuyla çalışmaktır.</p></div>
                    </div>
                </div>
            </div>
        </section>
        <!--<footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2023</p></div>
        </footer>-->
        <!-- Bootstrap core JS-->
        <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>-->
        <!-- Core theme JS-->
        <!--<script src="js/scripts.js"></script>-->
        <footer class="footer py-3 mt-auto" style="background-color: #41435c">
            <div class="container px-5">

                <p class="m-0 text-center" style="color:white;padding:5px">Copyright &copy; Stok Takip Otomasyonu Web Sitesi 2023</p>

            </div>

        </footer>
    </div>

    </body>
</html>