@{
    ViewBag.Title = "Hizmetlerimiz";
    Layout = "~/Views/Shared/_BosLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>

    <link href="~/css/styles.css" rel="stylesheet" />

</head>
<body style="background-color: #f0f0f0">
    <div class="form-group" style="background-color:beige">
        <br />
        <h1  style="font-weight:bold;color:brown;text-align:center">HİZMETLERİMİZ</h1>
    
        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/img/hizmet.jpg" />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-lower" style="font-weight:bold;color:brown">HİZMETLERİMİZ</span><br />
                                    <span style="font-size:22px;">Ürün Satın Alma</span>

                                </h2>
                                <p>
                                    Ürünlerimizi satın alabilir, kalan ürünlerin stok durumlarını tespit edebilirsiniz.
                                    Ürünlerin detaylı bilgilerini görütüleyebilir ve admin olan kullanıcılarımız ise ürün ekleme,silme, güncelleme işlemlerini yapabilir.
                                </p>

                                <h2 class="section-heading mb-4">

                                    <span style="font-size:22px;">KATEGORİ BİLGİSİ</span>

                                </h2>
                                <p>Ürünlerimizin hnagi kategoriye ait olduğunu filtreleyerek kolayca aradağınız ürünü bulmanıza yardımcı olur.</p>
                                <h2 class="section-heading mb-4">

                                    <span style="font-size:22px;">MARKA BİLGİSİ</span>

                                </h2>
                                <p>Ürünlerimizin hangi markaya ait olduğunu görerek ona göre satın alma işlemi yapabilirsiniz.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer py-3 mt-auto" style="background-color: #41435c">
            <div class="container px-5">

                <p class="m-0 text-center" style="color:white;padding:5px">Copyright &copy; Stok Takip Otomasyonu Web Sitesi 2023</p>

            </div>

        </footer>
    </div>


</body>
</html>
