<!--@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_BosLayout.cshtml";
}

<br />
<h1 style="color:red">İletişim</h1>
<br />

<div id="content-region" class="region">

    <div id="contacts-block" class="block">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
                    <h5>Adres</h5>
                    <p>Bizi ziyaret gelin:</p>
                    <p>
                        İnönü Mah. İnönü Cad. No:174/E Malatyapark Yanı <br>
                        Yeşilyurt/Malatya / TÜRKİYE (44070)<br>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 margin-top-xs-40">
                    <h5></h5>
                    <p>
                        <b>Tel: </b> (0 422) 502 17 17 <br>
                        <b>Fax:</b> (0 422) 502 27 27
                    </p>

                </div>

            </div>-->
<!-- /row -->
<!--</div>-->
<!-- /container -->
<!--</div>
</div>-->
@{
    ViewBag.Title = "Hizmetlerimiz";
    Layout = "~/Views/Shared/_BosLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>

    <link href="~/css/styles.css" rel="stylesheet" />

</head>
<body style="background-color: #f0f0f0">
    <div class="form-group" style="background-color:beige">
        <br />
        <h1 style="font-weight:bold;color:brown;text-align:center">İLETİŞİM</h1>

        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/img/hizmet.jpg" />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-lower" style="font-weight:bold;color:brown">İLETİŞİM</span><br />


                                </h2>

                                <div id="content-region" class="region">

                                    <div id="contacts-block" class="block">
                                        <div class="container">
                                            <div class="row">

                                                <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
                                                    <h5>Adres</h5>
                                                    <p>Bizi ziyaret gelin:</p>
                                                    <p>
                                                        İnönü Mah. İnönü Cad. No:174/E Malatyapark Yanı <br>
                                                        Yeşilyurt/Malatya / TÜRKİYE (44070)<br>
                                                </div>

                                                <div class="col-xs-12 col-sm-6 col-md-4 margin-top-xs-40">
                                                    <h5></h5>
                                                    <p>
                                                        <b>Tel: </b> (0 422) 502 17 17 <br>
                                                        <b>Fax:</b> (0 422) 502 27 27
                                                    </p>

                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer py-3 mt-auto" style="background-color: #41435c">
            <div class="container px-5">

                <p class="m-0 text-center" style="color:white;padding:5px">Copyright &copy; Stok Takip Otomasyonu Web Sitesi 2023</p>

            </div>

        </footer>
    </div>


</body>
</html>
