
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GenelLayout.cshtml";
}

<h1  style="background-color: white; text-align: center ">Ana Sayfa</h1>
<div class="container" style="background-color: white ">
    <br />
    <p style="font-size: 20px;font-weight: bold;text-align:left">Stok Takip Otomasyonu Nedir?</p>

    İşletmelerin ürünlerinin miktarını gözeterek mağaza ve depolarındaki durumu takip eden programdır. İş akışının daha düzenli bir şekilde gerçekleştirilmesine yardımcı olan bu programlar, satış yapılabilecek miktarı belirlemenize ve takip etmenizi sağlar.
    <br />
    <br />
    <p style="font-size: 20px;font-weight: bold;text-align:left">Nerede Kullanırız?</p>
    *Satış Yönetimi<br />
    *Cari Hesap Takibi<br />
    *İş Takibi<br />
    *Gelir/Gider Takibi <br />
    *Teklif Hazırlama<br />
    *E-Fatura<br />
    *Stok ve Depo Takibi<br />
    *Gelişmiş Raporlar<br />
    <br />

    <p style="font-size: 20px;font-weight: bold;text-align:left">Stok Kontrolü Neden Yapılır?</p>
    Stok kontrolünün amacı, mevcut ürünlerinizin akıbetini analiz etmek ve günün sonunda sağlıklı işleyen üretim bandı, güçlü bir satış yönetimi ve ideal bir gelir-gider dengesi kurarak işletmenizin finansını kuvvetlendirmektir.
    <br />
    <br />
  
</div>
